## `.gitignore`

# =========================
# Environnement Python
# =========================
.venv/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# LaTeX
# =========================
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb

# =========================
# Fichiers temporaires
# =========================
*~
.DS_Store
